.palette {
  height: 100vh;
  overflow: hidden;
}

.palette-colors {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4, 1fr);
  height: 90%;
}

.palette-footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 5vh;
  background-color: #fff;
}

.emoji {
  display: inline-block;
  margin: 1rem;
  font-size: 1.5rem;
}